.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  max-width: 450px;
  width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  animation: fadeInUp 0.5s ease;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.popup-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #222;
}

.highlight {
  color: #fbb034;
  font-weight: bold;
  font-size: 1.2em;
}

.popup-btn {
  background: linear-gradient(135deg, #fbb034, #002d62);
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}
b{
  color: #002d62;
}

.popup-btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
